name: ci

on:
  push:
    branches:
      - master
  pull_request:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: 22.x

      - name: Install dependencies
        run: |
          wget -P cache https://github.com/fcitx-contrib/fcitx5-js/releases/download/latest/fcitx5-js-0.1.0.tgz
          npm i -g pnpm
          pnpm i

      - name: Lint
        run: |
          pnpm run lint

      - name: Build
        run: |
          pnpm run build

      - name: Package
        run: |
          mv dist fcitx5-online
          zip -r fcitx5-online.zip fcitx5-online

      - name: Release
        if: ${{ github.ref == 'refs/heads/master' }}
        uses: marvinpinto/action-automatic-releases@latest
        with:
          repo_token: ${{ secrets.GITHUB_TOKEN }}
          automatic_release_tag: latest
          prerelease: true
          title: Nightly Build
          files: |
            fcitx5-online.zip
